@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
  font-family: 'Roboto', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}